{% extends 'musprivet/base.html' %}

{% load static %}

{% block title%}Готовые музыкальные поздравления и песни на заказ в подарок для ваших любимых от Музпривет.{% endblock %}

{% block content %}

<section class="about-us">
      <div class="container">
        <h1 class="about-us__title">О нас</h1>
        <p class="about-us__descr">
          Продюсерский центр &laquo;Музпривет&raquo;&nbsp;&mdash; творческое содружество композиторов, авторов текстов, исполнителей, актёров, режиссёров и&nbsp;продюсеров, работающих в&nbsp;сферах рекламы, радио, телевидения и&nbsp;кинематографе.
        </p>
        <p class="about-us__descr">
          Громкое слово <i>наша мисссия</i> на&nbsp;самом деле выражена простыми словами&nbsp;&mdash; мы&nbsp;помогаем людям создать праздник и&nbsp;отличное настроение.
        </p>
        <p class="about-us__descr">
          В&nbsp;сфере нашего внимания аудио поздравления по&nbsp;телефону с&nbsp;днём рождения и&nbsp;другими событиями, а&nbsp;для бизнес-клиентов&nbsp;&mdash; аудиоролики под ключ, sound design (фирменная мелодия, джингл, гимн) и&nbsp;разработка сценариев рекламных видеороликов, имиджевых роликов и&nbsp;корпоративных фильмов.
        </p>
        <p class="about-us__descr">
          Мы&nbsp;пишем песни в&nbsp;подарок Вашим любимым: мужьям, женам, подругам и&nbsp;друзьям.
Такие песни всегда вызывают море эмоций.
От&nbsp;наших клиентов получаем сообщения: &laquo;Просто взрыв!&raquo;.
Для тех, кому нужно поздравить срочно, у&nbsp;нас есть готовая библиотека&nbsp;&mdash; музыкальные поздравления с&nbsp;днём рождения по&nbsp;именам.
За&nbsp;пару минут&nbsp;Вы можете выбрать песню поздравление и&nbsp;отправить его любимому человеку.
Для бизнеса также есть предложения: аудио ролики, джинглы, гимны.
        </p>
        <p class="about-us__descr">
          <i>
            С&nbsp;музприветом!
          </i>
        </p>
        <p class="about-us__descr">
          ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ГОЛОВИН НИКОЛАЙ МИХАЙЛОВИЧ
        </p>
        <p class="about-us__descr">
          Расчётный счёт: 40802810255000073865
        </p>
        <p class="about-us__descr">
          ИНН: 471600405856
        </p>
        <p class="about-us__descr">
          КПП: -
        </p>
        <p class="about-us__descr">
          ОГРН: 312471629300015
        </p>
        <p class="about-us__descr">
          Банк: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК
        </p>
        <p class="about-us__descr">
          БИК: 044030653
        </p>
        <p class="about-us__descr">
          Кор. счёт: 30101810500000000653
        </p>
      </div>
</section>

{% endblock %}
