{% load static %}

<section class="podaripesnu">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h1 class="main__title podaripesnu__title">Подари песню</h1>
            <p class="podaripesnu__descr">Песня в&nbsp;подарок любимой девушке, парню, родителям, мужу,
              жене. 100%&nbsp;шлягеры!</p>
            <ul class="podaripesnu__list list-reset flex row">
              <li class="col-6 flex">
                <p class="flex align-items-center podaripesnu__list-item podaripesnu__list-item_rouble">
                  от&nbsp;5000
                  до&nbsp;10&nbsp;000&nbsp;₽
                </p>
              </li>
              <li class="col-6 flex">
                <p class="flex align-items-center podaripesnu__list-item podaripesnu__list-item_girl">
                  Минута песни бесплатно уже через 24&nbsp;часа
                </p>
              </li>
            </ul>
            <a class="podaripesnu__link" href="#present-song">Подарить песню</a>
          </div>
          <div class="podaripesnu__rigth col-12 col-lg-6">
            <img class="podaripesnu__img" src="{% static 'img/lovely.png' %}" alt="lovely">
          </div>
        </div>
      </div>
</section>
