{% load static %}

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h1 class="title hero__title">Выберите готовое музыкальное поздравление с нужным именем или закажите песню в подарок</h1>
            <p class="hero__under-descr">
              Пришлем бесплатно 1 минуту Вашей песни за 24 часа
            </p>
            <a class="hero__link  hero__link_1" href="#ready-variants">Готовая песня</a>
            <a class="hero__link" href="{% url 'musprivet:song_list' %}">Заказать песню</a>
          </div>
        </div>
      </div>
