{% extends 'musprivet/base.html' %}
{% load custom_filters %}

{% block title%}Готовые музыкальные поздравления и песни на заказ в подарок для ваших любимых от Музпривет.{% endblock %}

{% block content %}

    <div class="container">
      <section class="zakaz">
        <!-- Внезапно выпадающее окошко сбоку  -->
        <div id="side-message" class="side-message">
            <p class="side-message__descr">
                Евгений из Симферополя только что отправил поздравление жене Кристине.
            </p>
        </div>
      {% if name_poem %}
        <h1 class="zakaz__main-title">
          {{ name_poem.title }}
        </h1>

        <div class="row">
          <div class="col-12 col-lg-6">
          {% for congrat in name_congrats %}
            <h2 class="zakaz__audio-title">{{ congrat.title }}</h2>
            <audio class="zakaz__audio" preload="metadata" controls="controls"
              controlslist="nodownload" autostart="false">
              <source class="zakaz__audio-source" src="{{ congrat.audio_file.url }}" type="audio/mp3">
            </audio>
          {% endfor %}
                <p class="zakaz__text">Текст</p>
                <ul class="list-reset zakaz__song-list">
                    {% for paragraph in name_poem.text|split_paragraphs %}
                     <li class="zakaz__song-item">
                        {% for line in paragraph|split_lines %}
                            <p class="zakaz__paragraph">{{ line }}</p>
                        {% endfor %}
                     </li>
                    {% endfor %}
                </ul>
          </div>
          <div class="col-12 col-lg-6">
            <h2 class="zakaz__second-title">Отправьте {{ current_tag.name }} {{ name_poem.name }} этот музпривет!</h2>
            <p class="zakaz__price">Стоимость музпривета - <b>{{ price.price }} ₽</b></p>
              <form class="zakaz__form" method="post">
                  {% csrf_token %}
              <ul class="list-reset row zakaz__form-list">
                <li class="col-12 col-md-6 flex flex-column">
                  <input required class="zakaz__form-input" id="zakaz__form-your-tel" name="phone" type="tel" placeholder="Ваш телефон">
                </li>
                <li class="col-12 col-md-6 flex flex-column">
                  <input required class="zakaz__form-input" id="zakaz__form-mail" name="email" type="email" placeholder="Ваша почта">
                </li>
                <li class="col-12 flex flex-column">
                  <select class="zakaz__form-select" id="zakaz__form-select" name="service" required>
                    {% for service in name_congrats %}
                        <option value="{{ service.id }}">{{ service.title }}</option>
                    {% endfor %}
                  </select>
                </li>
                <li class="col-12">
                  <input class="zakaz__form-input  zakaz__form-select_checked" id="zakaz__form-add-own-congr"
                    type="checkbox" name="add_congratulation">
                  <label tabindex="0" class="zakaz__form-label zakaz__form-label_styled" for="zakaz__form-add-own-congr">Добавить личное поздравление:</label>
                  <textarea class="zakaz__form-textarea" id="zakaz__form-message" name="congratulation" placeholder="Напишите ваше личное поздравление. Например, Алексей поздравляет любимую жену Валерию. Ваш текст, озвученный голосом, прозвучит сразу&nbsp;же после музпривета."></textarea>
                </li>
              </ul>
              <button type="submit" class="btn zakaz__form-link">Оплатить</button>
              <p class="zakaz__form_descr">После оплаты на указанную Вами почту придёт музыкальное поздравление в формате mp3.</p>
            </form>
            <div class="zakaz__faq">
              <p class="zakaz__faq-descr">
                <strong>Часто задаваемые вопросы:</strong>
              </p>
              <p class="zakaz__faq-descr zakaz__faq-descr_strong">Как заказать?</p>
              <p class="zakaz__faq-descr">1. Выберите нужную категорию поздравления, например: Поздравление девушке по&nbsp;имени.&nbsp;</p>
              <p class="zakaz__faq-descr">2. Выберите из&nbsp;алфавита нужное имя, например: Мария.&nbsp;</p>
              <p class="zakaz__faq-descr">3. На&nbsp;странице с&nbsp;именем выберите подходящее по&nbsp;музыкальному стилю поздравление.&nbsp;</p>
              <p class="zakaz__faq-descr">4. Заполните форму заказа: ваш контактный номер, e-mail и&nbsp;отметьте в&nbsp;выпадающем списке выбранный музыкальный трек. Если в&nbsp;выбранном имени есть только один трек, он&nbsp;и&nbsp;будет представлен в&nbsp;списке.&nbsp;</p>
              <p class="zakaz__faq-descr">5. Нажмите на&nbsp;кнопку оплаты.&nbsp;</p>
              <p class="zakaz__faq-descr">6. После оплаты на&nbsp;ваш e-mail придет выбранный трек в&nbsp;формате mp3. Как правило трек приходит в&nbsp;течение 15&nbsp;минут после оплаты, но&nbsp;не&nbsp;позднее чем через час. Также мы&nbsp;пишем <a class="zakaz__faq-link" target="_blank" href="givesong.html">песни на&nbsp;заказ</a> с&nbsp;учетом всех Ваших индивидуальных пожеланий.</p>
              <p class="zakaz__faq-descr zakaz__faq-descr_strong">Как отправить файл с поздравлением? </p>
              <p class="zakaz__faq-descr">MP3-файл с&nbsp;музыкальным поздравлением&nbsp;Вы можете отправить на&nbsp;телефон Вашего адресата в&nbsp;любой из&nbsp;мессенджеров, а&nbsp;также на&nbsp;телефон в&nbsp;формате смс.</p>
              <p class="zakaz__faq-descr zakaz__faq-descr_strong">В каком формате музыкальные поздравления?</p>
              <p class="zakaz__faq-descr">Музыкальные поздравления приходят на&nbsp;указанную Вами электронную почту в&nbsp;формате mp3. Если письма с&nbsp;mp3&nbsp;нет, проверьте папку &laquo;спам&raquo;, возможно письмо попало именно в&nbsp;нее. Если по&nbsp;технической причине mp3&nbsp;не пришел на&nbsp;почту, напишите нам <a class="zakaz__faq-link" href="mailto:hello@muzprivet.com">hello@muzprivet.com</a> и&nbsp;мы&nbsp;вышлем Вам mp3&nbsp;в один из&nbsp;мессенджеров на&nbsp;номер Вашего телефона.</p>
              <p class="zakaz__faq-descr zakaz__faq-descr_strong">Как оплатить? </p>
              <p class="zakaz__faq-descr">Оплата музыкального поздравления происходит через платежный терминал банка после нажатия кнопки &laquo;Оплатить&raquo; в&nbsp;форме заказа.</p>
              <p class="zakaz__faq-descr zakaz__faq-descr_strong">Есть ли гарантии? </p>
              <p class="zakaz__faq-descr">Гарантии выполнения заказа и&nbsp;возврата денежных средств прописаны на&nbsp;сайте https://muzprivet.com&nbsp;в&nbsp;разделе &laquo;Правовая информация&raquo;.</p>
            </div>
          </div>
        </div>
      {% else %}
          {% include "musprivet/404.html" %}

      {% endif %}
      </section>
    </div>

{% endblock %}
