{% extends 'musprivet/base.html' %}

{% load static %}

{% block title%}Готовые музыкальные поздравления и песни на заказ в подарок для ваших любимых от Музпривет.{% endblock %}

{% block content %}


  <section class="vozvrat">
      <div class="container">
        <h1 class="vozvrat__main-title">
          Способы оплаты и правила возврата денежных средств
        </h1>
        <h2 class="vozvrat__second-title">
          Оплата банковскими картами
        </h2>
        <ul class="list-reset vozvrat__list">
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              К&nbsp;оплате принимаются карты MasterCard, VISA, Платежная система &laquo;Мир&raquo;. Услуга оплаты через
              интернет осуществляется в&nbsp;соответствии с&nbsp;Правилами международных платежных систем Visa,
              MasterCard и&nbsp;Платежная система &laquo;Мир&raquo; на&nbsp;принципах соблюдения конфиденциальности
              и&nbsp;безопасности совершения платежа, для чего используются самые современные методы проверки,
              шифрования и&nbsp;передачи данных по&nbsp;закрытым каналам связи. Ввод данных банковской карты
              осуществляется на&nbsp;защищенной платежной странице АО&nbsp;&laquo;Тинькофф Банк&raquo;.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              На&nbsp;странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер
              карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для
              MasterCard или CVC2/CVV2 для МИР). Все необходимые данные пропечатаны на&nbsp;самой карте. Трёхзначный код
              безопасности&nbsp;&mdash; это три цифры, находящиеся на&nbsp;обратной стороне карты.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Далее вы&nbsp;будете перенаправлены на&nbsp;страницу Вашего банка для ввода 3DSecure кода, который придет к&nbsp;Вам в&nbsp;СМС. Если 3DSecure код к&nbsp;Вам не&nbsp;пришел, то&nbsp;следует обратится в&nbsp;банк, выдавший Вам карту.
            </p>
          </li>
        </ul>
        <h2 class="vozvrat__second-title">
          Случаи отказа в совершении платежа:
        </h2>
        <ul class="list-reset vozvrat__list">
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              К&nbsp;оплате принимаются карты MasterCard, VISA, Платежная система &laquo;Мир&raquo;. Услуга оплаты через
              интернет осуществляется в&nbsp;соответствии с&nbsp;Правилами международных платежных систем Visa,
              MasterCard и&nbsp;Платежная система &laquo;Мир&raquo; на&nbsp;принципах соблюдения конфиденциальности
              и&nbsp;безопасности совершения платежа, для чего используются самые современные методы проверки,
              шифрования и&nbsp;передачи данных по&nbsp;закрытым каналам связи. Ввод данных банковской карты
              осуществляется на&nbsp;защищенной платежной странице АО&nbsp;&laquo;Тинькофф Банк&raquo;.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Банковская карта не&nbsp;предназначена для совершения платежей через интернет, о&nbsp;чем можно узнать, обратившись в&nbsp;Ваш Банк; недостаточно средств для оплаты на&nbsp;банковской карте. Подробнее о&nbsp;наличии средств на&nbsp;банковской карте&nbsp;Вы можете узнать, обратившись в&nbsp;банк, выпустивший банковскую карту;данные банковской карты введены неверно;истек срок действия банковской карты. Срок действия карты, как правило, указан на&nbsp;лицевой стороне карты (это месяц и&nbsp;год, до&nbsp;которого действительна карта). Подробнее о&nbsp;сроке действия карты&nbsp;Вы можете узнать, обратившись в&nbsp;банк, выпустивший банковскую карту.Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и&nbsp;не&nbsp;подлежит разглашению. Данные Вашей кредитной карты передаются только в&nbsp;зашифрованном виде и&nbsp;не&nbsp;сохраняются на&nbsp;нашем Web-сервере.
            </p>
          </li>
        </ul>
        <h2 class="vozvrat__second-title">
          1. Порядок, условия, способы оплаты и возврата денежных средств в ИП Головин Николай Михайлович
        </h2>
        <ul class="list-reset vozvrat__list">
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.1. При оплате банковскими картами возврат наличными денежными средствами не&nbsp;допускается. В&nbsp;случае отмены платежа денежные средства могут быть возвращены только на&nbsp;банковскую карту, с&nbsp;которой был осуществлен платеж. Порядок возврата регулируется правилами международных платежных систем.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.2. Процедура возврата денежных средств регламентируется&nbsp;ст.&nbsp;32&nbsp;Закона РФ&nbsp;от&nbsp;07.02.1992 &#8470;&nbsp;2300-1 &laquo;О&nbsp;защите прав потребителей&raquo;.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.3. Вы&nbsp;вправе отказаться от&nbsp;исполнения договора об&nbsp;оказании образовательных услуг в&nbsp;любое время при условии оплаты исполнителю фактически понесенных им&nbsp;расходов, связанных с&nbsp;исполнением обязательств по&nbsp;данному договору.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.4. Для возврата денежных средств на&nbsp;банковскую карту необходимо заполнить &laquo;Заявление о&nbsp;возврате денежных средств&raquo;, которое высылается по&nbsp;требованию компанией на&nbsp;электронный адрес и&nbsp;оправить его вместе с&nbsp;приложением копии паспорта по&nbsp;адресу hello@muzprivet.com
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.5. Возврат денежных средств за&nbsp;вычетом понесенных исполнителем расходов осуществляется на&nbsp;банковскую карту, с&nbsp;которой был произведен платеж, в&nbsp;течение&nbsp;10 (Десяти) рабочих дней со&nbsp;дня получения ИП&nbsp;Головин Николай Михайлович заявления клиента о&nbsp;возврате денежных средств.
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.6. Для возврата денежных средств по&nbsp;ошибочно проведенным операциям, помимо заявления о&nbsp;возврате денежных средств клиенту необходимо предоставить ИП&nbsp;Головин Николай Михайлович копию паспорта, а&nbsp;также чеков/квитанции, подтверждающих ошибочное списание. Данное заявление необходимо направить по&nbsp;адресу hello@muzprivet.com
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              1.7. Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и&nbsp;возврата денежных средств начинает исчисляться с&nbsp;момента получения Компанией Заявления и&nbsp;рассчитывается в&nbsp;рабочих днях без учета праздников/выходных дней.
            </p>
          </li>
        </ul>
        <h2 class="vozvrat__second-title">
          2. Контактные данные
        </h2>
        <ul class="list-reset vozvrat__list">
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Индивидуальный предприниматель Головин Николай Михайлович
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              ОГРНИП 312471629300015
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              ИНН 471600405856
            </p>
          </li>
          <li class="vozvrat__list-title">
            <address class="vozvrat__descr">
              Юридический адрес: 195279, Санкт-Петербург, пр. Ударников, д.30, корп.1, кв.151
            </address>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Электронная почта: <a class="vozvrat__link" href="mailto:hello@muzprivet.com">hello@muzprivet.com</a>
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Телефон: <a class="vozvrat__link" href="tel:+79851723031"> +7&nbsp;985 172-30-31</a>
            </p>
          </li>
          <li class="vozvrat__list-title">
            <p class="vozvrat__descr">
              Время работы: с 09.00 до 21.00 Мск
            </p>
          </li>
        </ul>
      </div>
  </section>

{% endblock %}
