{% load static %}

    <section class="other-services">
      <div class="container">
        <h2 class="other-services__main-title">Другие услуги:
        </h2>
        <ul class="list-reset row other-services-container">
          <li class="col-12 col-md-6 align-self-center">
            <h3 class="other-services__second-title">Гимн, фирменная мелодия
              и&nbsp;джингл</h3>
            <p class="other-services__descr">
              За 5 дней, под ключ.
            </p>
            <a class="other-services__link" href="reklamnaya-muzyka">Заказать</a>
          </li>
          <li class="col-12 col-md-6">
            <img class="other-services__img" src="{% static 'img/audioreklama2.png' %}" alt="other-services">
          </li>
        </ul>
      </div>
    </section>