{% load static %}

<section class="zakagi-u-profi">
      <div class="container">
        <div class="zakagi-u-profi__container align-items-center">
          <h3 class="zakagi-u-profi__title">Закажите радиоролик у профессионалов!</h3>
          <div class="zakagi-u-profi__descr">
            <p>
              Напишем текст, музыку, предложим несколько вариантов и&nbsp;согласуем финальный с&nbsp;вами.
            </p>
            <p>
              Предложим дикторов и&nbsp;певцов, мужские и&nbsp;женские голоса.
            </p>
            <p>
              Сдадим музыкальный радиоролик под ключ всего за&nbsp;5&nbsp;дней!
            </p>
            <p>
              Нужно срочно? Пойдём навстречу!
            </p>
            <p>
              Мы&nbsp;ценим наших клиентов и&nbsp;уважаем ваше время.
            </p>
          </div>
          <a class="zakagi-u-profi__link" href="#make-order">Заказать</a>
        </div>
      </div>
    </section>
    <section class="uniq">
      <div class="container">
        <div class="row uniq__row">
          <div class="col-lg-6">
            <h3 class="uniq__title">
              Работая с&nbsp;нами, вы&nbsp;получите уникальный продукт, в&nbsp;соответствии с&nbsp;вашими задачами
            </h3>
            <p class="uniq__descr">
              Почему выбирают продюсерский центр Музпривет
            </p>
          </div>
        </div>
        <ul class="list-reset row uniq__row-2">
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_star">
              <h4 class="uniq-container__title">Опыт</h4>
              <p class="uniq-container__descr">Более 20 лет на рынке</p>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_team">
              <h4 class="uniq-container__title">Профессиональная команда</h4>
              <p class="uniq-container__descr">Композиторы, рекламисты, дикторы и&nbsp;исполнители
                с&nbsp;профессиональным образованием</p>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_ok">
              <h4 class="uniq-container__title">Качество услуг</h4>
              <p class="uniq-container__descr">Индивидуально работаем на&nbsp;результат клиента</p>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_reputation">
              <h4 class="uniq-container__title">Репутация</h4>
              <p class="uniq-container__descr">Безупречная: не&nbsp;терпим халтуры, не&nbsp;пытаемся сделать проект ради
                фестиваля</p>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_rouble">
              <h4 class="uniq-container__title">Цена</h4>
              <p class="uniq-container__descr">Договорная, в&nbsp;рынке</p>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-4">
            <div class="uniq-container uniq-container_timer">
              <h4 class="uniq-container__title">Оперативные сроки</h4>
              <p class="uniq-container__descr">Работаем оперативно, соблюдаем тайминг проекта</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
