{% load static %}

    <section class="reklamnyrolik-hero">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h1 class="main__title reklamnyrolik-hero__title">Радиоролики информационные, игровые, музыкальные под ключ
              с
              адаптацией в любой хронометраж за 5 дней!</h1>
            <ul class="list-reset reklamnyrolik-hero__list flex">
              <li class="reklamnyrolik-hero__list-item reklamnyrolik-hero__list-item_star">
                Собственный продакшн
              </li>
              <li class="reklamnyrolik-hero__list-item reklamnyrolik-hero__list-item_microphone">
                Собственная база дикторов
              </li>
            </ul>
            <a class="reklamnyrolik__link" href="#make-order">Заказать</a>
          </div>
          <div class="col-12 col-lg-6">
            <img class="reklamnyrolik-hero__img" src="{% static 'img/audioreklama1.png' %}" alt="audioreklama1">
          </div>
        </div>
      </div>
    </section>