{% load static %}

    <section class="socials">
      <div class="container flex flex-column align-items-center">
        <h2 class="main__title socials__title">Мы в соцсетях</h2>
        <a class="socials__link socials__link_vk" href="https://vk.com/muzprivett">
          <span class="socials__link-VK-img">VK</span>
        </a>
        <a class="socials__link socials__link_ok" href="https://ok.ru/group/70000007745963">
          <span class="socials__link-OK-img">Одноклассники</span>
        </a>
      </div>
    </section>