{% load static %}

<ul class="list-reset row">
          <li class="col-12 col-lg-6 align-content-center order-1 order-lg-1">
            <h3 class="ready-variants__title">Выбрать голосовое аудио поздравление</h3>
            <p class="ready-variants__descr">Мы&nbsp;часто сталкиваемся с&nbsp;ситуацией, когда нужно поздравить
              человека не&nbsp;просто:
              &laquo;С&nbsp;днем рождения! Здоровья и&nbsp;всех благ!&raquo; Хочется поздравить
              от&nbsp;души&nbsp;&mdash; искренне и&nbsp;оригинально. Голосовое аудио поздравление с&nbsp;днем
              рождения&nbsp;&mdash; лучший подарок!</p>
          </li>
          <li class="col-12 col-lg-6 align-content-center order-2 order-lg-2"><img class="ready-variants__img"
              src="{% static 'img/dance.svg' %}" alt="dance"></li>
          <li class="col-12 col-lg-6 align-content-center order-4 order-lg-3"><img class="ready-variants__img"
              src="{% static 'img/play.svg' %}" alt="play"></li>
          <li class="col-12 col-lg-6 align-content-center order-3 order-lg-4">
            <h3 class="ready-variants__title">
              Выбрать голосовое аудио поздравление по&nbsp;именам
            </h3>
            <p class="ready-variants__descr">Вы&nbsp;можете выбрать голосовое поздравление по&nbsp;именам.
              Имя именинника наверняка есть в&nbsp;списке мужских или женских имен.
              Если такого имени нет, напишите его в&nbsp;заявке на&nbsp;музыкальное поздравление с&nbsp;днем рождения
              и&nbsp;мы&nbsp;сделаем его специально для вас.</p>
          </li>
          <li class="col-12 col-lg-6 align-content-center order-5 order-lg-5">
            <h3 class="ready-variants__title">Отправить музыкальные открытки с днём рождения</h3>
            <p class="ready-variants__descr">Выбрали поздравление?! Нажмите на&nbsp;кнопку &laquo;Хочу отправить&raquo;,
              заполните простую форму
              и&nbsp;совершите оплату, после чего на&nbsp;указанную Вами почту придет mp3&nbsp;файл.</p>
          </li>
          <li class="col-12 col-lg-6 align-content-center order-6 order-lg-6"><img class="ready-variants__img"
              src="{% static 'img/dame.svg' %}" alt="dame"></li>
</ul>
