{% extends 'musprivet/base.html' %}

{% load static %}

{% block title%}Готовые музыкальные поздравления и песни на заказ в подарок для ваших любимых от Музпривет.{% endblock %}

{% block content %}

 <section class="user-manual">
      <div class="container">
        <h1 class="user-manual__main-title">
          Пользовательское соглашение
        </h1>
        <h2 class="user-manual__second-title">
          Договор на&nbsp;оказание услуг (публичная оферта)
        </h2>
        <h3 class="user-manual__third-title">
          1. Термины и определения
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              <b>Интернет-сайт (сайт)</b> &nbsp;&mdash; сложный объект интеллектуальной собственности, представляющий
              собой совокупность программ для ЭВМ (далее &laquo;программ&raquo;), баз данных, текстовой, графической,
              аудиовизуальной и&nbsp;иной информации, доступной посредством <b>доменного имени</b> &nbsp;&mdash;
              уникального электронного адреса, позволяющего осуществлять доступ к&nbsp;информации на&nbsp;сайте
              в&nbsp;сети Интернет;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Публичная оферта (далее&nbsp;&mdash; оферта)</b> &nbsp;&mdash; предложение Исполнителя, адресованное
              Заказчику (юридическому лицу или индивидуальному предпринимателю), заключить договор на&nbsp;оказание
              услуг
              на&nbsp;условиях, содержащихся в&nbsp;настоящей публичной оферте.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Акцепт публичной оферты (далее&nbsp;&mdash; акцепт, акцепт оферты)</b>&nbsp;&mdash; полное
              и&nbsp;безоговорочное принятие Заказчиком условий настоящей публичной оферты путем совершения действий,
              указанных в&nbsp;разделе 3&nbsp;публичной оферты. Акцепт оферты создает договор и&nbsp;признается
              заключенным. Договор (далее Договор или Оферта)&nbsp;&mdash; возмездное соглашение между Исполнителем
              и&nbsp;Заказчиком на&nbsp;оказание услуг, заключенное посредством акцепта публичной оферты.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Исполнитель</b>&nbsp;&mdash; Индивидуальный Предприниматель Головин Николай Михайлович
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Заказчик</b>&nbsp;&mdash; Юридическое лицо, физическое лицо или индивидуальный предприниматель, имеющее
              намерение получить услуги, заключившее с&nbsp;Исполнителем договор на&nbsp;условиях, содержащихся
              в&nbsp;настоящей публичной оферте. Указанные лица, принявшее нижеизложенные условия и&nbsp;оплатившее
              услуги, признается Заказчиком.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Стороны</b> — Заказчик и Исполнитель, именуемые в дальнейшем при совместном упоминании.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              <b>Электронный каталог (каталог)</b>&nbsp;&mdash; находящаяся в&nbsp;тематическом разделе интернет-сайта
              и&nbsp;доступная при помощи программного комплекса Исполнителя тематическая база данных, содержащая
              соответствующие аудио (аудиовизуальные), визуальные произведения; программный коммутатор
              Исполнителя&nbsp;&mdash; программный комплекс, исключительные права на&nbsp;который принадлежат
              исполнителю,
              осуществляющий маршрутизацию телефонного звонка с&nbsp;целью передачи аудио произведения. программный
              комплекс&nbsp;&mdash; совокупность компьютерных программ, выполняющие определенную Исполнителем функцию
              без
              участия оператора, исключительные права на&nbsp;которые принадлежат Исполнителю.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          2. Правовое основание
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              1.1. Правовой основой регулирования отношений между сторонами в&nbsp;рамках Договора являются
              ГК&nbsp;РФ&nbsp;и&nbsp;иные нормативные правовые акты Российской Федерации.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              1.2. Договор содержит публичную оферту (п.&nbsp;2&nbsp;ст.&nbsp;437&nbsp;ГК РФ).
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              1.3. Договор заключается путем Акцепта (принятия) Заказчиком Оферты Исполнителя. Полным
              и&nbsp;безоговорочным Акцептом Оферты Исполнителя считается совершение Заказчиком действий
              по&nbsp;заполнению регистрационной формы на&nbsp;официальном сайте (корпоративном портале) Исполнителя
              по&nbsp;адресу: http://muzprivet.com (далее&nbsp;&mdash; Сайт) в&nbsp;срок не&nbsp;позднее, чем за&nbsp;3
              (три) дня до&nbsp;даты начала исполнения услуги, в&nbsp;соответствии с&nbsp;порядком, предусмотренным
              Договором, и&nbsp;осуществление оплаты в&nbsp;соответствии с&nbsp;условиями Договора.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              1.4.Акцепт оферты означает, что Заказчик согласен со&nbsp;всеми положениями Договора и&nbsp;обязуется
              им&nbsp;следовать.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          3. Предмет Договора
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              3.1. По&nbsp;условиям настоящего Договора, Исполнитель осуществляет разработку, обновление
              и&nbsp;поддержку
              Программных комплексов, обслуживание и&nbsp;функционирование программного коммутатора, обновление
              электронного каталога с&nbsp;целью предоставления Заказчику возможности отправки без участия оператора
              аудио
              произведения указанному Заказчиком адресату.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              3.2. Отправление аудио произведения осуществляется с&nbsp;помощью программного коммутатора, установленного
              на&nbsp;одном или более серверов. Программный коммутатор осуществляет доставку аудио произведения
              посредством маршрутизации телефонных звонков на&nbsp;мобильный или стационарный телефон адресата,
              указанного
              Заказчиком. Звонки осуществляются с&nbsp;помощью услуг VoIP-провайдера.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              3.3. Доставка аудио произведения не&nbsp;подразумевает передачу Заказчику или адресату каких-либо прав
              на&nbsp;аудио произведения, включая, но&nbsp;не&nbsp;ограничиваясь: права исключительной/неисключительной
              лицензии, исключительные права, права на&nbsp;копирование, изменение, дополнение, дальнейшее
              использование.&nbsp;3.4. Компания осуществляет обслуживание, обновление, поддержку программных комплексов
              и&nbsp;электронных каталогов Компании.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          4. Права и обязанности Сторон
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              4.1. Заказчик гарантирует, что: <br>
              4.1.2. действия Заказчика не&nbsp;направлены на&nbsp;достижения иных целей, которые явно не&nbsp;указаны
              в&nbsp;настоящем Договоре;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.1.3. действия Заказчика не&nbsp;направлены на&nbsp;воспроизведение, копирование, передачу аудио
              произведений, размещенных в&nbsp;Электронном каталоге Исполнителя на&nbsp;сайте Исполнителя,
              их&nbsp;использование полностью или в&nbsp;любой части любым способом, в&nbsp;том числе
              в&nbsp;коммерческих
              целях, в&nbsp;отсутствие согласия Исполнителя
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.1.4. действия Заказчика не направлены для совершения иных действий, связанных с нарушением настоящего
              Договора, а также требований применимого законодательства.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.1.5. вводимая им&nbsp;информация не&nbsp;нарушает каких-либо прав третьих лиц.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.1.6. доставка аудио произведения до&nbsp;адресата, указанного Заказчиком, не&nbsp;нарушает права
              и&nbsp;законные интересы адресата и&nbsp;третьих лиц. При необходимости, Заказчик получил соответствующее
              согласование на&nbsp;отправку аудио произведения не&nbsp;рекламного характера адресату.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.2. Заказчик обязуется:
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.2.2. заполнить все необходимые обязательные поля регистрационной формы на&nbsp;Сайте, в&nbsp;том числе
              указать полную и&nbsp;точную информацию о&nbsp;себе;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.2.3. оплачивать Услуги на&nbsp;условиях, в&nbsp;порядке и&nbsp;в&nbsp;сроки, установленные
              в&nbsp;Договоре. В&nbsp;назначении платежа обязательно указывать: Поздравление;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.2.4. в&nbsp;течение&nbsp;1 (одного) рабочего дня с&nbsp;даты оплаты Услуг направить Исполнителю
              на&nbsp;адрес электронной почты, указанный в&nbsp;разделе 12&nbsp;Договора, скан-копию квитанции,
              подтверждающую оплату Услуг.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.2.5. Принимать услуги, оказанные Исполнителем.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.3. Заказчик вправе:
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.3.1. обращаться к&nbsp;Исполнителю за&nbsp;разъяснениями по&nbsp;любым вопросам, относящимся
              к&nbsp;оказанию Услуг по&nbsp;Договору, устно по&nbsp;телефонам, указанным в&nbsp;разделе
              12&nbsp;Договора,
              или письменно путем направления сообщения по&nbsp;адресу электронной почты Исполнителя, указанному
              в&nbsp;разделе 12&nbsp;Договора;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.3.2. требовать от Исполнителя соблюдения условий Договора;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.3.3. отказаться от&nbsp;исполнения Договора в&nbsp;целом в&nbsp;одностороннем порядке, предварительно
              уведомив об&nbsp;этом Исполнителя и&nbsp;оплатить ту&nbsp;часть услуг, которую Исполнитель уже оказал
              до&nbsp;получения соответствующего уведомления.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4. Права и обязанности Исполнителя:
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.1. Исполнитель осуществляет текущее управление Программными комплексами и&nbsp;базами данных
              Исполнителя, самостоятельно определяет их&nbsp;структуру, внешний вид, разрешает или ограничивает доступ
              Пользователей к&nbsp;программным комплексам и&nbsp;базам данных при нарушении такими лицами положений
              настоящего Договора, осуществляет иные принадлежащие ему права.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.2. Исполнитель осуществляет техническую поддержку и&nbsp;обновление программных комплексов компании,
              обновление электронного каталога.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.3. Исполнитель осуществляет техническую и&nbsp;информационную поддержку Заказчика, необходимую для
              получения Заказчиком услуг по&nbsp;настоящему Договору.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.4. Осуществляет посредством Сервиса Исполнителя и/или сервисов третьих лиц рассылку Заказчику
              сообщений
              (e-mail, sms и&nbsp;иных видов рассылок), в&nbsp;том числе рекламно-информационного содержания,
              а&nbsp;также
              сообщений о&nbsp;введении в&nbsp;действие новых либо отмене старых функций Сервиса;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.5. Исполнитель имеет право временно приостановить оказание Заказчику услуг по&nbsp;Договору
              по&nbsp;техническим, технологическим или иным причинам, препятствующим оказанию услуг, на&nbsp;время
              устранения таких причин. Плата за&nbsp;услуги в&nbsp;течение срока, на&nbsp;который Исполнителем было
              приостановлено оказание услуг, в&nbsp;этих случаях не&nbsp;взимается.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.6. Исполнитель имеет право предпринимать не&nbsp;запрещенные законом меры для защиты собственных прав
              в&nbsp;отношении Сервиса Исполнителя.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.7. Исполнитель имеет право вносить изменения в&nbsp;Оферту в&nbsp;установленном Офертой порядке.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.8. Исполнитель обязуется, в&nbsp;случае досрочного отказа Заказчика от&nbsp;исполнения Договора
              по&nbsp;основаниям, предусмотренным Офертой, возвратить Заказчику по&nbsp;его письменному требованию сумму
              предоплаты за&nbsp;вычетом стоимости фактически оказанных Исполнителем услуг к&nbsp;моменту расторжения
              Договора. Возврат осуществляется в&nbsp;10&nbsp;рабочих дней с&nbsp;момента расторжения Договора.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              4.4.9. Исполнитель обязуется предоставить Заказчику отчет (скриншот) о&nbsp;выполнении Услуг, или
              в&nbsp;противном случае вернуть оплаченные Заказчиком денежные средства в&nbsp;течение 10&nbsp;рабочих
              дней,
              с&nbsp;момента получения требования от&nbsp;Заказчика.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          5. Стоимость услуг и порядок расчетов
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              5.1. Стоимость предоставляемых Услуг определяется Исполнителем в&nbsp;одностороннем порядке
              в&nbsp;российских рублях и&nbsp;указана на&nbsp;сайте Исполнителя.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              5.2. Исполнитель вправе в&nbsp;одностороннем порядке изменять цены на&nbsp;предоставляемые Услуги.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              5.3. Датой вступления в&nbsp;силу новых цен и&nbsp;условий оплаты считается дата их&nbsp;размещения
              на&nbsp;сайте Исполнителя http://muzprivet.com
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              5.4. Оплата Заказа производится посредством оформления Платежного поручения по&nbsp;реквизитам
              Исполнителя,
              указанным в&nbsp;Разделе 12&nbsp;настоящей Оферты.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              5.5. Услуги предоставляются Заказчику на&nbsp;условиях 100% предоплаты.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          6. Право Компании на&nbsp;объекты интеллектуальной собственности
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              6.1. Заказчик признает и&nbsp;соглашается с&nbsp;тем, что сайт, электронные каталоги, базы данных содержат
              в&nbsp;себе аудиовизуальные произведения, программы для ЭВМ, товарные знаки и&nbsp;иные объекты
              интеллектуальной собственности, права на&nbsp;которые принадлежат Исполнителю (и/или контрагентам
              Исполнителя, что подтверждается заключенными договорами&nbsp;/ соглашениями), которые не&nbsp;могут быть
              использованы без получения предварительного согласия;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              6.2. Ни&nbsp;сам Заказчик, ни&nbsp;любые иные лица при содействии со&nbsp;стороны Заказчика не&nbsp;будут
              копировать или изменять программное обеспечение; создавать программы, производные от&nbsp;программного
              обеспечения; проникать в&nbsp;программное обеспечение с&nbsp;целью получения кодов программ; осуществлять
              продажу, уступку, передачу третьим лицам в&nbsp;любой иной форме прав в&nbsp;отношении такого программного
              обеспечения, а&nbsp;также модифицировать такое программное обеспечение, в&nbsp;том числе с&nbsp;целью
              получения несанкционированного доступа к&nbsp;нему.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          7. Обработка персональных данных
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              7.1. Заключая Договор, Заказчик своей волей и&nbsp;в&nbsp;своем интересе дает согласие Исполнителю
              на&nbsp;запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу
              (предоставление, распространение, доступ) третьим лицам своих персональных данных, указанных им&nbsp;при
              заполнении регистрационной формы на&nbsp;Сайте или становящихся известными Исполнителю в&nbsp;связи
              с&nbsp;исполнением Договора, в&nbsp;частности, фамилии, имени, отчества, адреса регистрации, постоянного
              проживания, даты и&nbsp;места рождения, номера мобильного телефона, личного электронного адреса, адреса
              аккаунтов в&nbsp;социальных сетях, сведений о&nbsp;навыках и&nbsp;квалификации (образовании, ученых
              степени
              и&nbsp;звании, опыте), личных фотографий (фотоизображений), в&nbsp;том числе путем автоматизированной
              обработки таких данных, в&nbsp;целях осуществления Исполнителем основных видов деятельности
              в&nbsp;соответствии с&nbsp;уставом и&nbsp;осуществления Исполнителем действий, предусмотренных условиями
              настоящего договора.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              7.2. Исполнитель вправе также использовать предоставленные Заказчиком персональные данные в&nbsp;целях
              обеспечения соблюдения требований, действующих законодательных и&nbsp;иных нормативных правовых актов
              Российской Федерации (в&nbsp;том числе в&nbsp;целях предупреждения и/или пресечения незаконных и/или
              противоправных действий других пользователей Сайта). Раскрытие предоставленной Заказчиком информации может
              быть произведено лишь в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации
              по&nbsp;требованию суда, правоохранительных органов, а&nbsp;равно в&nbsp;иных предусмотренных
              законодательством Российской Федерации случаях.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              7.3. Согласие Заказчика на&nbsp;обработку персональных данных действует с&nbsp;даты заключения Договора,
              истекает спустя&nbsp;5 (пять) лет с&nbsp;даты прекращения оказания Услуг по&nbsp;Договору,
              за&nbsp;исключением случаев обработки таких данных в&nbsp;целях воинского, миграционного, статистического,
              бухгалтерского учета и&nbsp;отчетности, срок обработки которых составляет&nbsp;75 (семьдесят пять) лет
              с&nbsp;даты расторжения Договора. Согласие на&nbsp;обработку персональных данных может быть отозвано
              Заказчиком, о&nbsp;чем он&nbsp;обязуется в&nbsp;письменной форме сообщить Исполнителю.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              7.4. Исполнитель вправе осуществлять хранение (архивное хранение) и&nbsp;комплектование документов
              и&nbsp;персональных данных, в&nbsp;том числе в&nbsp;форме электронных (цифровых) документов (оригиналов
              и&nbsp;копий), в&nbsp;электронных базах данных включительно.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          8. Особые условия и ответственность Сторон
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              8.1. За&nbsp;неисполнение или ненадлежащее исполнение своих обязательств по&nbsp;Договору Стороны несут
              ответственность в&nbsp;соответствии с&nbsp;действующим законодательством&nbsp;РФ.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              8.2. Заказчик самостоятельно несет всю ответственность&nbsp;за: а) соблюдение требований законодательства,
              в&nbsp;том числе законодательства о&nbsp;защите авторских и&nbsp;смежных прав, об&nbsp;охране товарных
              знаков и&nbsp;знаков обслуживания, о&nbsp;защите прав потребителей;&nbsp;б) достоверность сведений,
              указанных им&nbsp;при производстве Акцепта.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              8.3. Исполнитель не&nbsp;несет никакой ответственности по&nbsp;Оферте&nbsp;за: а) какие-либо действия,
              являющиеся прямым или косвенным результатом действий Заказчика;&nbsp;б) какие-либо убытки Заказчика вне
              зависимости от&nbsp;того, могли, Исполнитель предвидеть возможность таких убытков или нет;
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              8.4. Совокупная ответственность Исполнителя по&nbsp;Договору ограничивается суммой платежа, уплаченного
              Исполнителю Заказчиком по&nbsp;Договору.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              8.5.Не вступая в&nbsp;противоречие с&nbsp;указанным выше, Исполнитель освобождается
              от&nbsp;ответственности
              за&nbsp;нарушение условий Договора, если такое нарушение вызвано действием обстоятельств непреодолимой
              силы
              (форс-мажор), включая: действия органов государственной власти (в&nbsp;т.ч. принятие правовых актов),
              пожар,
              наводнение, землетрясение, другие стихийные бедствия, отсутствие электроэнергии и/или сбои работы
              компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства,
              не&nbsp;ограничиваясь перечисленным, которые могут повлиять на&nbsp;исполнение Исполнителем Договора.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          9. Обратная связь и орядок рассмотрения претензий
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              9.1. Заказчик, считающий, что его права и&nbsp;интересы нарушены из-за действий Исполнителя, может
              направить
              соответствующее обращение. Рассмотрением обращений занимается Служба поддержки пользователей Исполнителя
              в&nbsp;соответствии с&nbsp;общим порядком рассмотрения поступающих запросов.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              9.2. Все обращения, в&nbsp;том числе относительно работы Исполнителя, Заказчик может направить
              в&nbsp;Службу
              поддержки пользователей.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              9.3. Заказчик и&nbsp;Исполнитель соглашаются с&nbsp;тем, что все возможные споры по&nbsp;поводу настоящей
              Оферты будут разрешаться в&nbsp;соответствии с&nbsp;правилами настоящей оферты и&nbsp;с&nbsp;нормами
              действующего законодательства Российской Федерации.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          10. Срок действия Договора. Изменение и расторжение.
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              10.1. Настоящий Договор вступает в силу с момента Акцепта Оферты Заказчиком.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              10.2. Настоящий Договор заключен без определенного срока действия.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              10.3. Настоящий Договор может быть расторгнут по инициативе любой из Сторон.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              10.4. Настоящий Договор может быть изменен Исполнителем с&nbsp;уведомлением Заказчика посредством
              размещения
              новой редакции изменяемого Договора на&nbsp;Сайте. Внесенные Исполнителем изменения в&nbsp;Договор,
              вступают
              в&nbsp;силу в&nbsp;день, следующий за&nbsp;днем опубликования таких изменений на&nbsp;Сайте. Заказчик
              обязуется самостоятельно проверять настоящий Договор на&nbsp;предмет внесенных изменений. Неосуществление
              Заказчиком действий по&nbsp;ознакомлению не&nbsp;может служить основанием для неисполнения Заказчиком
              своих
              обязательств и&nbsp;несоблюдения Заказчиком ограничений, установленных настоящим Договором.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              10.5. Заказчик вправе отказаться от&nbsp;принятия изменений и&nbsp;дополнений в&nbsp;настоящий Договор,
              что
              означает отказ Заказчика от&nbsp;использования Сервиса Исполнителя.
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          11. Заключительные Положения
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              11.1 Признание судом какого-либо положения настоящего Договора недействительным, или не&nbsp;подлежащим
              принудительному исполнению, не&nbsp;влечет недействительности или неисполнимости иных положений Договора.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              11.2 Бездействие со&nbsp;стороны Исполнителя, в&nbsp;случае нарушения Заказчиком, либо иными третьими
              лицами, положений Договора, иных правил, размещенных на&nbsp;сайте, не&nbsp;лишает Исполнителя права
              предпринять соответствующие действия в&nbsp;защиту своих интересов позднее. Настоящий Договор регулируется
              и&nbsp;толкуется в&nbsp;соответствии с&nbsp;законодательством Российской Федерации. Вопросы,
              не&nbsp;урегулированные настоящим Договором, подлежат разрешению в&nbsp;соответствии
              с&nbsp;законодательством Российской Федерации.
            </p>
          </li>
          <li class="user-manual__descr">
            <p>
              11.3. Все споры сторон по&nbsp;настоящему Договору подлежат разрешению путем переписки и&nbsp;переговоров
              с&nbsp;использованием обязательного досудебного (претензионного) порядка. В&nbsp;случае невозможности
              достичь согласия между сторонами путем переговоров в&nbsp;течение&nbsp;30 (тридцати) календарных дней
              с&nbsp;момента получения другой Стороной письменной претензии, рассмотрение спора должно быть передано
              любой
              заинтересованной стороной в&nbsp;суд по&nbsp;месту нахождения Исполнителя (с&nbsp;исключением подсудности
              дела любым иным судам).
            </p>
          </li>
        </ul>
        <h3 class="user-manual__third-title">
          12. Реквизиты Исполнителя
        </h3>
        <ul class="list-reset user-manual__list">
          <li class="user-manual__descr">
            <p>
              Индивидуальный предприниматель Головин Николай Михайлович ОГРНП 312471629300015, ИНН 471600405856
              Юридический адрес: 195279, Санкт-Петербург, пр. Ударников, д.30, корп.1, кв.151 Электронная почта:
              hello@muzprivet.com Телефон: +7&nbsp;985 172-30-31 Время работы: с&nbsp;09.00 до&nbsp;21.00 Мск
            </p>
          </li>
        </ul>
      </div>
 </section>

{% endblock %}
